POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
DATABASE_URL=postgresql://changeme:changeme@localhost:5432/changeme
SERVER_PORT=4000
EXTERNAL_API_URL=changeme
DEFAULT_PATIENT_COUNT=10
CLIENT_PORT=5173
VITE_ENABLE_MOCKS=false
VITE_API_URL=
